.toast {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 99;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 24rem;
    height: 5rem;
    color: white;
    overflow: hidden;
    text-align: center;

    &.success {
        background-color: green;
    }
    &.error {
        background-color: crimson;
    }

    svg {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }

    p {
        width: calc(100% - 5rem);
        font-size: 1.5rem;
    }
}
