.hello {
    text-align: center;
    color: $c-light;
    font-family: $ff-code;
}

.form {
    display: flex;
    flex-direction: column;

    &__content {
        padding: 0.3rem;
    }

    h6 {
        text-align: center;
        font-size: 1.2rem;
        font-family: $ff-code;
        color: white;
        text-shadow: #000 3px 3px 3px;
    }

    .input,
    textarea {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    section {
        display: flex;
        justify-content: space-between;
        overflow: visible;

        .input {
            width: 46%;
            transform: none;
        }
    }

    .button {
        margin: 0 auto;
    }

    .recaptcha {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        > div > div > div {
            overflow: hidden;
        }
    }
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    background-color: rgba($color: black, $alpha: 0.5);

    &.visible {
        animation: showMask 500ms forwards;
    }
    &.hidden {
        animation: hideMask 500ms forwards;
    }

    @include breakpoint(600px) {
        display: none;
    }
}

@keyframes showMask {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hideMask {
    0% {
        opacity: 1;
        display: none;
    }
    100% {
        opacity: 0;
    }
}
