.button {
    padding: 0.3rem 0.3em;
    border-radius: 7px;
    font-family: $ff-code;
    cursor: pointer;
    transition-duration: 200ms;

    &:hover {
        transform: scale(1.1);
    }

    &.primary {
        background-color: $c-primary;
        &:hover {
            background-color: darken($c-primary, 10%);
        }
    }

    &.secondary {
        background-color: $c-secondary;
        &:hover {
            background-color: darken($c-secondary, 10%);
        }
    }

    &.tertiary {
        background-color: $c-tertiary;
        &:hover {
            background-color: darken($c-tertiary, 10%);
        }
    }

    &.sm {
        font-size: 1.5rem;
    }
}
