.logo {
    width: 8rem;

    &__border {
        fill: $c-neutral-dark;
        cy: 50;
        cx: 50;
        ry: 50;
        rx: 50;
    }

    &__background {
        fill: $c-secondary;
        cy: 50;
        cx: 50;
        ry: 45;
        rx: 45;
    }
}
