.input {
    height: 2.4rem;
    padding: 0.5rem;
    border-radius: 1.4rem;
    display: flex;
    position: relative;
    background-color: $c-light;
    box-shadow: 1px 1px 3px 1px $c-dark;

    &:focus-within {
        box-shadow: 0px 0px 5px 3px $c-secondary;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: $c-dark;
    }

    &__icon {
        margin-left: 0.7rem;
        overflow: hidden;
    }

    input {
        background-color: transparent;
        outline: none;
        border: none;
        height: 1.2rem;
        margin-left: 0.7rem;
        width: calc(100% - 1.2rem);
        font-size: 1rem;
    }
}
