.logo {
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(3px 3px 2px $c-secondary);
    box-shadow: 0px 0px 2px 2px $c-primary;
    border-radius: 0.5rem;
    cursor: pointer;

    &__p {
        fill: white;
        animation: logoP 7s infinite;
    }
    &__j {
        fill: white;
        animation: logoJ 7s infinite;
    }
    &__c {
        fill: white;
        animation: logoC 7s infinite;
    }

    &.prototype {
        width: 10rem;
        height: 10rem;
        position: fixed;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);

        .logo__p2 {
            fill: $c-main;
        }
    }
}

@keyframes logoP {
    0%,
    90%,
    100% {
        opacity: 1;
    }
    5%,
    70% {
        opacity: 0.9;
    }
}
@keyframes logoJ {
    0%,
    90%,
    100% {
        opacity: 1;
    }
    10%,
    80% {
        opacity: 0.7;
    }
}
@keyframes logoC {
    0%,
    90%,
    100% {
        opacity: 1;
    }
    20%,
    80% {
        opacity: 0.5;
    }
}
