.typing {
    display: inline-block;

    &__text {
        color: white;
        font-family: $ff-code;
        display: inline-block;
        font-size: 1.4rem;
    }

    &__block {
        position: relative;
        background-color: $c-light;
        width: 0.5rem;
        height: 1.4rem;
        bottom: 5px;
        margin-left: 0.3rem;
        display: inline-block;

        &.flashing {
            animation: flashing 800ms linear infinite;
        }
    }
}

@keyframes flashing {
    0% {
        opacity: 1;
    }
    69% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
