.technologies {
    padding: 2rem;
    width: 80%;
    margin: 4rem auto;

    h1 {
        color: white;
        font-family: $ff-code;
        text-align: center;
        margin: 3rem;
    }

    &__items {
        display: flex;
        justify-content: center;
    }

    &__item {
        width: 10rem;
        display: flex;
        flex-direction: column;

        img {
            width: 5rem;
            margin: auto;
        }

        h3 {
            color: white;
            font-family: $ff-code;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}
