.navbar {
    $self: &;
    background-color: $c-main;
    height: 8rem;
    display: flex;
    z-index: 99;
    position: relative;

    &__links {
        display: flex;
        margin-inline-start: auto;

        @include breakpoint(600px, $isMax: true) {
            position: absolute;
            top: 8rem;
            background-color: $c-main;
            width: 100%;
            flex-direction: column;
            transform: scaleY(0);
            transform-origin: 50% 0%;
        }
    }

    &__link {
        font-family: $ff-heading;
        font-size: 2.5rem;
        letter-spacing: 2px;
        color: $c-neutral-light;
        margin: auto 2rem;
        cursor: pointer;

        &.active {
            color: $c-primary;
        }

        @include breakpoint(600px, $isMax: true) {
            margin: 1rem auto;
        }
    }

    @include breakpoint(600px, $isMax: true) {
        &.visible {
            #{$self}__links {
                animation: showLinks 600ms forwards;
            }
            #{$self}__link {
                animation: showLink 600ms forwards;
            }
        }

        &.hidden {
            #{$self}__links {
                animation: hideLinks 600ms forwards;
            }
            #{$self}__link {
                animation: hideLink 600ms forwards;
            }
        }
    }
}

@keyframes showLinks {
    0% {
        transform: scaleY(0);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes hideLinks {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@keyframes showLink {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }
    50% {
        opacity: 0;
        transform: translateX(-5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hideLink {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(5rem);
    }
    100% {
        opacity: 0;
        transform: translateX(5rem);
    }
}
