.title {
    font-family: $ff-heading;
    color: transparent;
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(135deg, $c-neutral-light 0%, rgba($c-neutral-light, 0) 120%);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 4px;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.5);
}
