$ff-default: "Ubuntu";
$ff-heading: "Nunito Sans";
$ff-code: "JetBrains Mono";

@font-face {
    font-family: $ff-default;
    src: url("@assets/Ubuntu.ttf");
}

@font-face {
    font-family: $ff-heading;
    src: url("@assets/NunitoSans.ttf");
}

@font-face {
    font-family: $ff-code;
    src: url("@assets/JetBrainsMono.ttf");
}
