.title {
    font-family: $ff-cracked;
    font-size: 3.7rem;
    text-align: center;
    letter-spacing: 5px;
    background: linear-gradient(to bottom right, rgba(white, 1), rgba(white, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: fadeIn 500ms forwards 1.5s;
    cursor: default;
    user-select: none;
    margin-top: 2rem;

    @include breakpoint(1000px) {
        margin: 0;
        position: absolute;
        bottom: 50%;
        left: 3rem;
        letter-spacing: 0;
        transform: translateY(50%);
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}

.disassemble .title {
    opacity: 1;
    animation: fadeOut 500ms forwards 500ms;
}

.hello {
    text-align: center;
    color: $c-light;
    font-family: $ff-code;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    background-color: rgba($color: black, $alpha: 0.5);

    &.visible {
        animation: showMask 500ms forwards;
    }
    &.hidden {
        animation: hideMask 500ms forwards;
    }

    @include breakpoint(600px) {
        display: none;
    }
}

@keyframes showMask {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hideMask {
    0% {
        opacity: 1;
        display: none;
    }
    100% {
        opacity: 0;
    }
}
